.news__wrap {
  color: black;
}

.news__wrap a {
  color: black;
}

.news__title {
  text-align: center;
  font-size: 1.2rem;
  padding: 24px 0;
}

.news__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.news__content {
  margin-top: 48px;
}
